<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hello.shopping_war.shopping.repository.OrderMapper">
    <insert id="cartAdd" parameterType="Order">
        insert into customer_product(customer_id, product_number, quantity)
        values (#{customerId} ,#{productNumber}, 1)
    </insert>

    <select id="cartList" parameterType="String" resultType="Order">
        select *
        from customer_product cp
        inner join product p on cp.product_number=p.product_number
        where customer_id = #{customerId}
          and order_yn = 'N'
        order by order_date desc
    </select>

    <select id="purchaseExist" parameterType="Order" resultType="Order">
        select *
        from customer_product
        where customer_id = #{customerId}
          and product_number = #{productNumber}
    </select>

    <update id="quantityUpdate" parameterType="Order">
        update customer_product
           set quantity = #{quantity}
         where customer_id = #{customerId}
           and product_number = #{productNumber}
    </update>

    <delete id="cartCancel" parameterType="Order">
        delete from customer_product
         where order_number = #{orderNumber}
           and customer_id = #{customerId}
    </delete>

    <update id="orderComplete" parameterType="map">
        update customer_product
        set order_yn = 'Y'
        where customer_id = #{customerId}
        and order_number in
        <foreach item="orderNumber" collection="orderNumbers" open="(" separator="," close=")">
            #{orderNumber}
        </foreach>
    </update>



</mapper>