<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hello.shopping_war.product.repository.ProductMapper">
    <select id="findProduct" parameterType="int" resultType="Product">
        select *
          from product
         where product_number = #{productNumber}
    </select>

    <select id="productList" resultType="Product">
        select *
        from product
    </select>

    <update id="updateProduct" parameterType="Product">
        update product
          set inventory = #{inventory}
        where product_number = #{productNumber}
    </update>
</mapper>